@import "variables";

.page {
  min-height: 1000px;
}

div.content {
  margin-top: $header-height;
  z-index: 1;
  line-height: 25px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 100;
  min-height: 1000px;
}

header {
  width: 100%;
  height: $header-height;
  position: fixed;
  background-color: black;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid white;
}

.avatar {
  height: 80%;
  float: left;
  margin: 5px;

  img {
    border-radius: 50%;
    opacity: 0.5;
    height: 100%;

    &:hover { opacity: 1; }
  }
}

.header-links {
  float: right;
  height: $header-height;
  line-height: $header-height;
  margin-right: 20px;

  a, button {
    color: $dark-green;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    height: $header-height;
    padding: 0;

    &:hover {
      color: $light-green;
    }
  }
}

.admin-controls {
  position: absolute;
  top: $background-height;
  left: 0;
  background-color: black;
  width: 100%;
  height: $header-height;
  line-height: $header-height;
  text-align: right;
  border-bottom: 1px solid #044A0B;

  button {
    margin: 0 20px;
    color: $dark-green;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    height: $header-height;
    padding: 0;

    &:hover {
      color: $light-green;
    }
  }
}

.email-link {
  color: $dark-green;
  font-size: 20px;
  height: $header-height;
  line-height: $header-height;

  &:hover {
    color: $light-green;
  }
}

footer {
  height: $footer-height;
  background-color: black;
  width: 100%;
  border-top: solid 1px white;
  text-align: center;

  .fa {
    color: white;
    margin: 0 10px;
    height: $footer-height;
    line-height: $footer-height;
  }

  .fa-linkedin:hover       { color: #4875B4; }
  .fa-twitter:hover        { color: #55acee; }
  .fa-github:hover         { color: #333;    }
  .fa-youtube:hover        { color: #bb0000; }
  .fa-stack-overflow:hover { color: #FF9900 }
}

.modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(#000, 0.8);
  position: fixed;
  top: 0;
  z-index: 2;

  form {
    width: 400px;
    margin: 200px auto;
    background-color: black;
    position: fixed;
    left: 0;
    right: 0;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;

    .fa-close {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: transparent;
      border: none;
      color: $dark-green;
      cursor: pointer;

      &:hover {
        color: $light-green;
      }
    }

    p {
      color: darkred;
    }

    input, textarea {
      resize: none;
      height: 80px;
      -webkit-box-shadow: 0 0 0 1000px black inset;
      border: none;
      text-align: center;
      padding: 0;
      font-size: 18px;
      color: $light-green !important;
      -webkit-text-fill-color: $light-green;

      &:focus {
        outline: none;
      }

      &[type="submit"] {
        -webkit-text-fill-color: $dark-green;

        &:hover {
          -webkit-text-fill-color: $light-green;
        }
      }
    }
  }
}
