// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.post {
  min-height: 1000px;
  position: relative;

  .background {
    background-size: cover;
    opacity: 0.4;
    position: fixed;
    width: 100%;
    height: $background-height;
    z-index: -1;
  }

  .headings {
    position: absolute;
    width: 100%;
    text-align: center;
    top: $background-height * 0.4;

    h1, h2 { margin: 0 2px 10px 2px; }
  }

  p {
    position: absolute;
    top: $background-height;
    margin: 0 10%;
  }
}

.post-list {
  position: fixed;
  top: $header-height;
  display: flex;
  width: 100%;
  height: $post-list-height;
  line-height: $post-list-height;
  z-index: 2;
  background-color: black;

  .post-list-item {
    width: 25%;
    cursor: pointer;
    color: white;
    background-size: cover;
    opacity: 0.5;

    &:hover {
      transform: scale(1.02);
      opacity: 1;
    }

    &.current-post-list-item {
      text-decoration: underline;
      opacity: 1;
    }
  }
}

@media (max-width: 800px) {
  .post-list {
    display: none;
  }
}
